@page
@model ContactCenter.Pages.Contacts.IndexModel

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-page="Create">افزودن مخاطب</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].PersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].PositionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].PostOrg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Phone1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Phone2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Address)
            </th>
            <th>ویرایش</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contact) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostOrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
